{
	admin off
	auto_https disable_redirects
	email beihai3body@uegov.org
}

http://__NODE_DOMAIN__ {
	route {
		header -Server
		redir https://__NODE_DOMAIN__{uri} permanent
	}
}

https://__NODE_DOMAIN__ {
	@node_ws {
		path __NODE_WS_PATH__
		header Connection *Upgrade*
		header Upgrade websocket
	}

	route {
		header {
			-Server
			Strict-Transport-Security "max-age=31536000"
			X-Content-Type-Options "nosniff"
			Referrer-Policy "strict-origin-when-cross-origin"
			Permissions-Policy "camera=(), microphone=(), geolocation=()"
		}

		handle @node_ws {
			reverse_proxy 127.0.0.1:30080 {
				transport http {
					versions 1.1
				}
			}
		}

		handle {
			root * /srv/cover
			encode zstd gzip
			file_server
		}
	}

	handle_errors {
		header {
			-Server
			Strict-Transport-Security "max-age=31536000"
			X-Content-Type-Options "nosniff"
			Referrer-Policy "strict-origin-when-cross-origin"
			Permissions-Policy "camera=(), microphone=(), geolocation=()"
		}
		rewrite * /404.html
		file_server
	}

	log {
		output stdout
		format console
	}
}
